source https://www.nuget.org/api/v2/

nuget Unquote 3.0.0 framework: >= net451
nuget Npgsql 3.0.2 framework: >= net451
nuget System.Data.SQLite.Core framework: >= net451

nuget FAKE

nuget FsUnit
nuget NUnit
nuget NUnit.Runners.Net4
nuget xunit
nuget xunit.abstractions
nuget xunit.assert
nuget xunit.core
nuget xunit.extensibility.core
nuget xunit.runner.visualstudio
