type project
licenseUrl http://opensource.org/licenses/Apache-2.0
projectUrl https://github.com/wastaz/Hyperboliq
id Hyperboliq
authors Fredrik Forssen
files
    bin/Release/Hyperboliq.* ==> lib/net40
frameworkAssemblies
    System.Data
dependencies
    FSharp.Core >= 4.0.0.1
    Unquote >= 3.0.0
    Dapper >= 1.50.2