type project
licenseUrl http://opensource.org/licenses/Apache-2.0
projectUrl https://github.com/wastaz/Hyperboliq
id Hyperboliq.PostgreSQL
authors Fredrik Forssen
include-referenced-projects false
frameworkAssemblies
    System.Data
dependencies
    Npgsql >= LOCKEDVERSION
    Hyperboliq >= CURRENTVERSION