type project
licenseUrl http://opensource.org/licenses/Apache-2.0
projectUrl https://github.com/wastaz/Hyperboliq
id Hyperboliq.SqlLite
authors Fredrik Forssen
include-referenced-projects false
frameworkAssemblies
    System.Data
dependencies
    System.Data.SQLite.Core >= LOCKEDVERSION
    Hyperboliq >= CURRENTVERSION